.container-home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    width: 80px; 
}


.logo h1 {
    font-size: 60px;
    color: #fff;
}

.logo span {
    color: #fff;
    margin-top: 14px;
    margin-bottom: 34px;
    font-size: 19px;
}
.icon {
    width: 54px; /* Largura do ícone */
    height: 54px; /* Altura do ícone */
    margin-bottom: 18px;
   
}

.area-input {
    width: 40%; /* Ajuste no tamanho */
    display: flex;
    flex-direction: column; /* Correção na escrita */
    align-items: center;
    animation: slidY 2s;
}

@keyframes slidY {
    from{
        transform:  translateY(90px);
    }
    to{
        transform:  translateY(0px);
    }
}

.area-input div {
    width: 100%;
    height: 46px;
    background-color: rgba(255, 255, 255, 0.15); /* Correção na cor com rgba */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.area-input svg {
    margin: 0 8px;
}

.area-input input {
    width: calc(100% - 20px); /* Ajuste no tamanho */
    background: transparent;
    border: 0;
    height: 46px;
    color: #fff;
    outline: none;
    font-size: 18px;
}

.area-input input::placeholder {
    color: rgba(255, 255, 255, 0.8); /* Correção na cor com rgba */
}

.area-input button {
    width: 100%;
    height: 46px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin-top: 8px;
    transition: 0.7s;
}

.area-input button:hover {
    transform: scale(1.05);
}

@media (max-width: 615px) { /* Correção na palavra "media" */
    .logo img {
        width: 95px;
    }

    .logo h1 {
        font-size: 40px;
    }

    .logo span {
        font-size: 16px;
    }

    .area-input {
        width: 85%;
    }
}
.developed-by {
    margin-top: 20px;
    font-size: 14px;
    color: #666; /* Cor do texto */
    display: flex;
    align-items: center; /* Alinha o ícone verticalmente */
  }
  
  .developed-by svg {
    margin-right: 5px; /* Adiciona um espaço entre o ícone e o texto */
  }
  