.links-container {
    max-width: 1120px;
    margin: 32px auto 0 auto;
}

.link-header {
    display: flex;
    align-items: center; /* Adicionado alinhamento vertical */
}

.link-header svg {
    margin-right: 14px;
}

.link-header h1 {
    color: #fff;
}

.links-item {
    width: 100%; /* Ajustado para ocupar toda a largura disponível */
    display: flex;
    align-items: center;
    margin-top: 8px;
    flex-direction: row;
}

.links-item:last-child {
    margin-bottom: 18px;
}

.link {
    border: 0;
    width: 100%;
    min-width: 80%;
    border-radius: 10px;
    height: 46px;
    background-color: rgba(255, 255, 255, 0.18);
    margin-right: 14px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    font-size: 18px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link svg {
    margin-right: 14px;
}

.link-delete {
    border: 0;
    background: transparent;
}

.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .empty-icon {
    margin-bottom: 10px; /* Adiciona um espaço entre o ícone e o texto */
  }
  
  .empty-text {
    width: 100%;
    text-align: center;
    margin-top: 28px;
    color: #fff;
}
    
  .empty-icon {
    margin-bottom: 10px; /* Adiciona um espaço entre o ícone e o texto */
  }
  
  .empty-text {
    text-align: center;
    color: #fff;
  }
  


@media (max-width: 715px) {
    .links-container {
        width: 90%;
    }

    .link-header svg {
        display: none; /* Corrigido para ocultar o ícone apenas em telas menores */
    }
}
